In [1]:
import pandas as pd
import numpy as np
import math

# Getting the age distribution

In [2]:
df = pd.read_excel(
    "https://censusindia.gov.in/2011census/C-series/c-13/DDW-2700C-13.xls",
    verify=False,
    skiprows = 1, header=list(range(0, 3))
).iloc[3:].reset_index(drop = True)

def col_mapper(x):
        if not isinstance(x, str):
            x = str(x)
        if x.startswith("Unnamed:"):
            return ""
        elif x in ["Last", "Duration of"]:
            return f"{x} residence"
        elif x == "Place of":
            return "Place of enumeration"
        elif x == "enumeration":
            return ""
        elif x == "residence":
            return ""
        else:
            return x

df.rename(columns = col_mapper, level = 0, inplace = True)
df.rename(columns = col_mapper, level = 1, inplace = True)
df.rename(columns = col_mapper, level = 2, inplace = True)

def fix_column_headers(tup):
    if tup[1] == "":
        return tup[0], tup[2]
    else:
        return tup[0], tup[1]

df.columns = pd.MultiIndex.from_tuples([fix_column_headers(x) for x in df.columns])

def age_range(age):
    if type(age) == int or age.strip().isnumeric():
        start = int(math.floor(int(age)/5)*5)
        if(start < 80):
            return f"{start:02d}-{start+4:02d}"
        else:
            return "80+"
    elif age.strip() == "100+":
        return "80+"
    else:
        return age
df.loc[:, "age_range"] = df.loc[:, ("Age", "")].map(age_range)
df

    
df

      Table State Distt.                 Area Name             Age  \
       Name  Code   Code
0     C3713  27.0    0.0  State - MAHARASHTRA (27)        All ages
1     C3713  27.0    0.0  State - MAHARASHTRA (27)               0
2     C3713  27.0    0.0  State - MAHARASHTRA (27)               1
3     C3713  27.0    0.0  State - MAHARASHTRA (27)               2
4     C3713  27.0    0.0  State - MAHARASHTRA (27)               3
...     ...   ...    ...                       ...             ...
3703  C3713  27.0  531.0    District - Sangli (35)              97
3704  C3713  27.0  531.0    District - Sangli (35)              98
3705  C3713  27.0  531.0    District - Sangli (35)              99
3706  C3713  27.0  531.0    District - Sangli (35)            100+
3707  C3713  27.0  531.0    District - Sangli (35)  Age not stated

            Total                               Rural                          \
          Persons       Males     Females     Persons       Males     Females
0     112374333.0  58243056.0  54131277.0  61556074.0  31539034.0  30017040.0
1       1775560.0    946095.0    829465.0   1028294.0    551481.0    476813.0
2       1926342.0   1021679.0    904663.0   1101100.0    587212.0    513888.0
3       1888543.0    996272.0    892271.0   1098738.0    581369.0    517369.0
4       1895221.0    990688.0    904533.0   1101102.0    576048.0    525054.0
...           ...         ...         ...         ...         ...         ...
3703        368.0       194.0       174.0       263.0       135.0       128.0
3704        502.0       218.0       284.0       395.0       172.0       223.0
3705        270.0       112.0       158.0       217.0        93.0       124.0
3706       2028.0       886.0      1142.0      1569.0       667.0       902.0
3707      15194.0      7804.0      7390.0     10709.0      5587.0      5122.0

           Urban                               age_range
         Persons       Males     Females
0     50818259.0  26704022.0  24114237.0        All ages
1       747266.0    394614.0    352652.0           00-04
2       825242.0    434467.0    390775.0           00-04
3       789805.0    414903.0    374902.0           00-04
4       794119.0    414640.0    379479.0           00-04
...          ...         ...         ...             ...
3703       105.0        59.0        46.0             80+
3704       107.0        46.0        61.0             80+
3705        53.0        19.0        34.0             80+
3706       459.0       219.0       240.0             80+
3707      4485.0      2217.0      2268.0  Age not stated

[3708 rows x 15 columns]

In [3]:
df['Area Name'].unique()

array(['State - MAHARASHTRA (27)', 'District - Nandurbar (01)',
       'District - Dhule (02)', 'District - Jalgaon (03)',
       'District - Buldana (04)', 'District - Akola (05)',
       'District - Washim (06)', 'District - Amravati (07)',
       'District - Wardha (08)', 'District - Nagpur (09)',
       'District - Bhandara (10)', 'District - Gondiya (11)',
       'District - Gadchiroli (12)', 'District - Chandrapur (13)',
       'District - Yavatmal (14)', 'District - Nanded (15)',
       'District - Hingoli (16)', 'District - Parbhani (17)',
       'District - Jalna (18)', 'District - Aurangabad (19)',
       'District - Nashik (20)', 'District - Thane (21)',
       'District - Mumbai Suburban (22)', 'District - Mumbai (23)',
       'District - Raigarh (24)', 'District - Pune (25)',
       'District - Ahmadnagar (26)', 'District - Bid (27)',
       'District - Latur (28)', 'District - Osmanabad (29)',
       'District - Solapur (30)', 'District - Satara (31)',
       'District - Ratnagiri (32)', 'District - Sindhudurg (33)',
       'District - Kolhapur (34)', 'District - Sangli (35)'], dtype=object)

In [4]:
# Get data for Mumbai
mumbai_df = df[df.loc[:, ("Area Name", "")].isin(
    [
        'District - Mumbai Suburban (22)',
        'District - Mumbai (23)'
    ]
)].reset_index(drop = True).loc[
    :,
    [
        ("Area Name", ""),
        ("Total", "Persons"),
        ("Age", ""),
        ("age_range", "")
    ]
]
mumbai_df

,Area Name,Total,Age,age_range
,,Persons,,
0,District - Mumbai Suburban (22),9356962.0,All ages,All ages
1,District - Mumbai Suburban (22),120371.0,0,00-04
2,District - Mumbai Suburban (22),133226.0,1,00-04
3,District - Mumbai Suburban (22),130287.0,2,00-04
4,District - Mumbai Suburban (22),132999.0,3,00-04
...,...,...,...,...
201,District - Mumbai (23),475.0,97,80+
202,District - Mumbai (23),469.0,98,80+
203,District - Mumbai (23),217.0,99,80+
204,District - Mumbai (23),1661.0,100+,80+
205,District - Mumbai (23),15577.0,Age not stated,Age not stated

In [5]:
age_df = mumbai_df.groupby([("age_range", "")]).sum().reset_index()
age_df

         age_range       Total
                       Persons
0            00-04    837269.0
1            05-09    909385.0
2            10-14    998448.0
3            15-19   1100379.0
4            20-24   1333546.0
5            25-29   1310338.0
6            30-34   1109979.0
7            35-39   1015414.0
8            40-44    866960.0
9            45-49    753234.0
10           50-54    611020.0
11           55-59    481470.0
12           60-64    390770.0
13           65-69    260538.0
14           70-74    183134.0
15           75-79    110548.0
16             80+    121329.0
17  Age not stated     48612.0
18        All ages  12442373.0

In [6]:
total_stated_ages = age_df[(age_df["age_range"] != 'All ages')
                           & (age_df["age_range"] != 'Age not stated')
                          ][("Total", "Persons")].sum()
age_df["fraction"] = age_df.loc[:, ("Total", "Persons")] / total_stated_ages
age_df = age_df.iloc[:-2,:]
age_df

   age_range      Total  fraction
                Persons
0      00-04   837269.0  0.067556
1      05-09   909385.0  0.073374
2      10-14   998448.0  0.080561
3      15-19  1100379.0  0.088785
4      20-24  1333546.0  0.107598
5      25-29  1310338.0  0.105726
6      30-34  1109979.0  0.089559
7      35-39  1015414.0  0.081929
8      40-44   866960.0  0.069951
9      45-49   753234.0  0.060775
10     50-54   611020.0  0.049301
11     55-59   481470.0  0.038848
12     60-64   390770.0  0.031530
13     65-69   260538.0  0.021022
14     70-74   183134.0  0.014776
15     75-79   110548.0  0.008920
16       80+   121329.0  0.009790

# Getting the household size distribution

In [7]:
df = pd.read_excel("https://censusindia.gov.in/2011census/hh-series/HH-1/DDW-HH01-2700-2011.XLS",
                  verify=False,
                  skiprows = 1, header=list(range(0, 3))
                  ).droplevel(1, axis=1)
df

                                                  Table              State  \
                                     Unnamed: 0_level_2 Unnamed: 1_level_2
0                                                   NaN                NaN
1                                                   NaN                NaN
2                                                  HH01               27.0
3                                                  HH01               27.0
4                                                  HH01               27.0
...                                                 ...                ...
1178                                               HH01               27.0
1179                                               HH01               27.0
1180                                               HH01               27.0
1181  Notes: i) Households other than Institutional ...                NaN
1182            ii)  Household size refers to number...                NaN

               District             Tahsil               Town  \
     Unnamed: 2_level_2 Unnamed: 3_level_2 Unnamed: 4_level_2
0                   NaN                NaN                NaN
1                   NaN                NaN                NaN
2                   0.0                0.0                0.0
3                   0.0                0.0                0.0
4                   0.0                0.0                0.0
...                 ...                ...                ...
1178              531.0             4304.0                0.0
1179              531.0             4304.0                0.0
1180              531.0             4304.0                0.0
1181                NaN                NaN                NaN
1182                NaN                NaN                NaN

                Area Name Total/ Normal households               \
       Unnamed: 5_level_2  Urban            Number   Population
0                     NaN      1               2.0          3.0
1                     NaN    NaN               NaN          NaN
2     State - MAHARASHTRA  Total        24296607.0  111147778.0
3     State - MAHARASHTRA  Rural        13161832.0   60898260.0
4     State - MAHARASHTRA  Urban        11134775.0   50249518.0
...                   ...    ...               ...          ...
1178   Sub-district - Jat  Total           63744.0     326302.0
1179   Sub-district - Jat  Rural           63744.0     326302.0
1180   Sub-district - Jat  Urban               0.0          0.0
1181                  NaN    NaN               NaN          NaN
1182                  NaN    NaN               NaN          NaN

     Household size                                                         \
                  1          2          3          4          5          6
0               4.0        5.0        6.0        7.0        8.0        9.0
1               NaN        NaN        NaN        NaN        NaN        NaN
2         1051681.0  2479086.0  3519055.0  6238226.0  4771705.0  2862928.0
3          618328.0  1411517.0  1649152.0  3151959.0  2685886.0  1706658.0
4          433353.0  1067569.0  1869903.0  3086267.0  2085819.0  1156270.0
...             ...        ...        ...        ...        ...        ...
1178         2939.0     5755.0     6653.0    12879.0    12856.0     8669.0
1179         2939.0     5755.0     6653.0    12879.0    12856.0     8669.0
1180            0.0        0.0        0.0        0.0        0.0        0.0
1181            NaN        NaN        NaN        NaN        NaN        NaN
1182            NaN        NaN        NaN        NaN        NaN        NaN

                                                  Mean
           7-10     11-14      15+ Unnamed: 18_level_2
0          10.0      11.0     12.0                13.0
1           NaN       NaN      NaN                 NaN
2     2943261.0  339516.0  91149.0                 4.6
3     1709167.0  185170.0  43995.0                 4.6
4     1234094.0  154346.0  47154.0                 4.5
...         ...       ...      ...                 ...
1178    11343.0    2031.0    619.0                 5.1
1179    11343.0    2031.0    619.0                 5.1
1180        0.0       0.0      0.0                 0.0
1181        NaN       NaN      NaN                 NaN
1182        NaN       NaN      NaN                 NaN

[1183 rows x 19 columns]

In [8]:
def col_mapper(x):
        if not isinstance(x, str):
            x = str(x)
        if x.startswith("Unnamed:"):
            return ""
        elif x in ["Last", "Duration of"]:
            return f"{x} residence"
        elif x == "Place of":
            return "Place of enumeration"
        elif x == "enumeration":
            return ""
        elif x == "residence":
            return ""
        else:
            return x

df.rename(columns = col_mapper, level = 0, inplace = True)
df.rename(columns = col_mapper, level = 1, inplace = True)
df

                                                  Table State District  \

0                                                   NaN   NaN      NaN
1                                                   NaN   NaN      NaN
2                                                  HH01  27.0      0.0
3                                                  HH01  27.0      0.0
4                                                  HH01  27.0      0.0
...                                                 ...   ...      ...
1178                                               HH01  27.0    531.0
1179                                               HH01  27.0    531.0
1180                                               HH01  27.0    531.0
1181  Notes: i) Households other than Institutional ...   NaN      NaN
1182            ii)  Household size refers to number...   NaN      NaN

      Tahsil Town            Area Name Total/ Normal households               \
                                        Urban            Number   Population
0        NaN  NaN                  NaN      1               2.0          3.0
1        NaN  NaN                  NaN    NaN               NaN          NaN
2        0.0  0.0  State - MAHARASHTRA  Total        24296607.0  111147778.0
3        0.0  0.0  State - MAHARASHTRA  Rural        13161832.0   60898260.0
4        0.0  0.0  State - MAHARASHTRA  Urban        11134775.0   50249518.0
...      ...  ...                  ...    ...               ...          ...
1178  4304.0  0.0   Sub-district - Jat  Total           63744.0     326302.0
1179  4304.0  0.0   Sub-district - Jat  Rural           63744.0     326302.0
1180  4304.0  0.0   Sub-district - Jat  Urban               0.0          0.0
1181     NaN  NaN                  NaN    NaN               NaN          NaN
1182     NaN  NaN                  NaN    NaN               NaN          NaN

     Household size                                                         \
                  1          2          3          4          5          6
0               4.0        5.0        6.0        7.0        8.0        9.0
1               NaN        NaN        NaN        NaN        NaN        NaN
2         1051681.0  2479086.0  3519055.0  6238226.0  4771705.0  2862928.0
3          618328.0  1411517.0  1649152.0  3151959.0  2685886.0  1706658.0
4          433353.0  1067569.0  1869903.0  3086267.0  2085819.0  1156270.0
...             ...        ...        ...        ...        ...        ...
1178         2939.0     5755.0     6653.0    12879.0    12856.0     8669.0
1179         2939.0     5755.0     6653.0    12879.0    12856.0     8669.0
1180            0.0        0.0        0.0        0.0        0.0        0.0
1181            NaN        NaN        NaN        NaN        NaN        NaN
1182            NaN        NaN        NaN        NaN        NaN        NaN

                                    Mean
           7-10     11-14      15+
0          10.0      11.0     12.0  13.0
1           NaN       NaN      NaN   NaN
2     2943261.0  339516.0  91149.0   4.6
3     1709167.0  185170.0  43995.0   4.6
4     1234094.0  154346.0  47154.0   4.5
...         ...       ...      ...   ...
1178    11343.0    2031.0    619.0   5.1
1179    11343.0    2031.0    619.0   5.1
1180        0.0       0.0      0.0   0.0
1181        NaN       NaN      NaN   NaN
1182        NaN       NaN      NaN   NaN

[1183 rows x 19 columns]

In [9]:
df['Area Name'].unique()

array([nan, 'State - MAHARASHTRA', 'District - Nandurbar',
       'Sub-district - Akkalkuwa', 'Sub-district - Akrani',
       'Sub-district - Talode', 'Sub-district - Shahade',
       'Sub-district - Nandurbar', 'Sub-district - Nawapur',
       'District - Dhule', 'Sub-district - Shirpur',
       'Sub-district - Sindkhede', 'Sub-district - Sakri',
       'Sub-district - Dhule', 'District - Jalgaon',
       'Sub-district - Chopda', 'Sub-district - Yawal',
       'Sub-district - Raver', 'Sub-district - Muktainagar',
       'Sub-district - Bodvad', 'Sub-district - Bhusawal',
       'Sub-district - Jalgaon', 'Sub-district - Erandol',
       'Sub-district - Dharangaon', 'Sub-district - Amalner',
       'Sub-district - Parola', 'Sub-district - Bhadgaon',
       'Sub-district - Chalisgaon', 'Sub-district - Pachora',
       'Sub-district - Jamner', 'District - Buldana',
       'Sub-district - Jalgaon (Jamod)', 'Sub-district - Sangrampur',
       'Sub-district - Shegaon', 'Sub-district - Nandura',
       'Sub-district - Malkapur', 'Sub-district - Motala',
       'Sub-district - Khamgaon', 'Sub-district - Mehkar',
       'Sub-district - Chikhli', 'Sub-district - Buldana',
       'Sub-district - Deolgaon Raja', 'Sub-district - Sindkhed Raja',
       'Sub-district - Lonar', 'District - Akola',
       'Sub-district - Telhara', 'Sub-district - Akot',
       'Sub-district - Balapur', 'Sub-district - Akola',
       'Sub-district - Murtijapur', 'Sub-district - Patur',
       'Sub-district - Barshitakli', 'District - Washim',
       'Sub-district - Malegaon', 'Sub-district - Mangrulpir',
       'Sub-district - Karanja', 'Sub-district - Manora',
       'Sub-district - Washim', 'Sub-district - Risod',
       'District - Amravati', 'Sub-district - Dharni',
       'Sub-district - Chikhaldara', 'Sub-district - Anjangaon Surji',
       'Sub-district - Achalpur', 'Sub-district - Chandurbazar',
       'Sub-district - Morshi', 'Sub-district - Warud',
       'Sub-district - Teosa', 'Sub-district - Amravati',
       'Sub-district - Bhatkuli', 'Sub-district - Daryapur',
       'Sub-district - Nandgaon-Khandeshwar',
       'Sub-district - Chandur Railway',
       'Sub-district - Dhamangaon Railway', 'District - Wardha',
       'Sub-district - Ashti', 'Sub-district - Arvi',
       'Sub-district - Seloo', 'Sub-district - Wardha',
       'Sub-district - Deoli', 'Sub-district - Hinganghat',
       'Sub-district - Samudrapur', 'District - Nagpur',
       'Sub-district - Narkhed', 'Sub-district - Katol',
       'Sub-district - Kalameshwar', 'Sub-district - Savner',
       'Sub-district - Parseoni', 'Sub-district - Ramtek',
       'Sub-district - Mauda', 'Sub-district - Kamptee',
       'Sub-district - Nagpur (Rural)', 'Sub-district - Nagpur (Urban)',
       'Sub-district - Hingna', 'Sub-district - Umred',
       'Sub-district - Kuhi', 'Sub-district - Bhiwapur',
       'District - Bhandara', 'Sub-district - Tumsar',
       'Sub-district - Mohadi', 'Sub-district - Bhandara',
       'Sub-district - Sakoli', 'Sub-district - Lakhani',
       'Sub-district - Pauni', 'Sub-district - Lakhandur',
       'District - Gondiya', 'Sub-district - Tirora',
       'Sub-district - Goregaon', 'Sub-district - Gondiya',
       'Sub-district - Amgaon', 'Sub-district - Salekasa',
       'Sub-district - Sadak-Arjuni', 'Sub-district - Arjuni Morgaon',
       'Sub-district - Deori', 'District - Gadchiroli',
       'Sub-district - Desaiganj (Vadasa)', 'Sub-district - Armori',
       'Sub-district - Kurkheda', 'Sub-district - Korchi',
       'Sub-district - Dhanora', 'Sub-district - Gadchiroli',
       'Sub-district - Chamorshi', 'Sub-district - Mulchera',
       'Sub-district - Etapalli', 'Sub-district - Bhamragad',
       'Sub-district - Aheri', 'Sub-district - Sironcha',
       'District - Chandrapur', 'Sub-district - Warora',
       'Sub-district - Chimur', 'Sub-district - Nagbhir',
       'Sub-district - Brahmapuri', 'Sub-district - Sawali',
       'Sub-district - Sindewahi', 'Sub-district - Bhadravati',
       'Sub-district - Chandrapur', 'Sub-district - Mul',
       'Sub-district - Pombhurna', 'Sub-district - Ballarpur',
       'Sub-district - Korpana', 'Sub-district - Jiwati',
       'Sub-district - Rajura', 'Sub-district - Gondpipri',
       'District - Yavatmal', 'Sub-district - Ner',
       'Sub-district - Babulgaon', 'Sub-district - Kalamb',
       'Sub-district - Yavatmal', 'Sub-district - Darwha',
       'Sub-district - Digras', 'Sub-district - Pusad',
       'Sub-district - Umarkhed', 'Sub-district - Mahagaon',
       'Sub-district - Arni', 'Sub-district - Ghatanji',
       'Sub-district - Kelapur', 'Sub-district - Ralegaon',
       'Sub-district - Maregaon', 'Sub-district - Zari-Jamani',
       'Sub-district - Wani', 'District - Nanded',
       'Sub-district - Mahoor', 'Sub-district - Kinwat',
       'Sub-district - Himayatnagar', 'Sub-district - Hadgaon',
       'Sub-district - Ardhapur', 'Sub-district - Nanded',
       'Sub-district - Mudkhed', 'Sub-district - Bhokar',
       'Sub-district - Umri', 'Sub-district - Dharmabad',
       'Sub-district - Biloli', 'Sub-district - Naigaon (Khairgaon)',
       'Sub-district - Loha', 'Sub-district - Kandhar',
       'Sub-district - Mukhed', 'Sub-district - Deglur',
       'District - Hingoli', 'Sub-district - Sengaon',
       'Sub-district - Hingoli', 'Sub-district - Aundha (Nagnath)',
       'Sub-district - Kalamnuri', 'Sub-district - Basmath',
       'District - Parbhani', 'Sub-district - Sailu',
       'Sub-district - Jintur', 'Sub-district - Parbhani',
       'Sub-district - Manwath', 'Sub-district - Pathri',
       'Sub-district - Sonpeth', 'Sub-district - Gangakhed',
       'Sub-district - Palam', 'Sub-district - Purna', 'District - Jalna',
       'Sub-district - Bhokardan', 'Sub-district - Jafferabad',
       'Sub-district - Jalna', 'Sub-district - Badnapur',
       'Sub-district - Ambad', 'Sub-district - Ghansawangi',
       'Sub-district - Partur', 'Sub-district - Mantha',
       'District - Aurangabad', 'Sub-district - Kannad',
       'Sub-district - Soegaon', 'Sub-district - Sillod',
       'Sub-district - Phulambri', 'Sub-district - Aurangabad',
       'Sub-district - Khuldabad', 'Sub-district - Vaijapur',
       'Sub-district - Gangapur', 'Sub-district - Paithan',
       'District - Nashik', 'Sub-district - Surgana',
       'Sub-district - Kalwan', 'Sub-district - Deola',
       'Sub-district - Baglan', 'Sub-district - Nandgaon',
       'Sub-district - Chandvad', 'Sub-district - Dindori',
       'Sub-district - Peint', 'Sub-district - Trimbakeshwar',
       'Sub-district - Nashik', 'Sub-district - Igatpuri',
       'Sub-district - Sinnar', 'Sub-district - Niphad',
       'Sub-district - Yevla', 'District - Thane',
       'Sub-district - Talasari', 'Sub-district - Dahanu',
       'Sub-district - Vikramgad', 'Sub-district - Jawhar',
       'Sub-district - Mokhada', 'Sub-district - Vada',
       'Sub-district - Palghar', 'Sub-district - Vasai',
       'Sub-district - Thane', 'Sub-district - Bhiwandi',
       'Sub-district - Shahapur', 'Sub-district - Kalyan',
       'Sub-district - Ulhasnagar', 'Sub-district - Ambarnath',
       'Sub-district - Murbad', 'District - Mumbai Suburban',
       ' Area not under any Sub-district', 'District - Mumbai',
       'District - Raigarh', 'Sub-district - Uran',
       'Sub-district - Panvel', 'Sub-district - Karjat',
       'Sub-district - Khalapur', 'Sub-district - Pen',
       'Sub-district - Alibag', 'Sub-district - Murud',
       'Sub-district - Roha', 'Sub-district - Sudhagad',
       'Sub-district - Mangaon', 'Sub-district - Tala',
       'Sub-district - Shrivardhan', 'Sub-district - Mhasla',
       'Sub-district - Mahad', 'Sub-district - Poladpur',
       'District - Pune', 'Sub-district - Junnar',
       'Sub-district - Ambegaon', 'Sub-district - Shirur',
       'Sub-district - Khed', 'Sub-district - Mawal',
       'Sub-district - Mulshi', 'Sub-district - Haveli',
       'Sub-district - Pune City', 'Sub-district - Daund',
       'Sub-district - Purandhar', 'Sub-district - Velhe',
       'Sub-district - Bhor', 'Sub-district - Baramati',
       'Sub-district - Indapur', 'District - Ahmadnagar',
       'Sub-district - Sangamner', 'Sub-district - Kopargaon',
       'Sub-district - Rahta', 'Sub-district - Shrirampur',
       'Sub-district - Nevasa', 'Sub-district - Shevgaon',
       'Sub-district - Pathardi', 'Sub-district - Nagar',
       'Sub-district - Rahuri', 'Sub-district - Parner',
       'Sub-district - Shrigonda', 'Sub-district - Jamkhed',
       'District - Bid', 'Sub-district - Patoda',
       'Sub-district - Shirur (Kasar)', 'Sub-district - Georai',
       'Sub-district - Manjlegaon', 'Sub-district - Wadwani',
       'Sub-district - Bid', 'Sub-district - Kaij',
       'Sub-district - Dharur', 'Sub-district - Parli',
       'Sub-district - Ambejogai', 'District - Latur',
       'Sub-district - Latur', 'Sub-district - Renapur',
       'Sub-district - Ahmadpur', 'Sub-district - Jalkot',
       'Sub-district - Chakur', 'Sub-district - Shirur-Anantpal',
       'Sub-district - Ausa', 'Sub-district - Nilanga',
       'Sub-district - Deoni', 'Sub-district - Udgir',
       'District - Osmanabad', 'Sub-district - Paranda',
       'Sub-district - Bhum', 'Sub-district - Washi',
       'Sub-district - Osmanabad', 'Sub-district - Tuljapur',
       'Sub-district - Lohara', 'Sub-district - Umarga',
       'District - Solapur', 'Sub-district - Karmala',
       'Sub-district - Madha', 'Sub-district - Barshi',
       'Sub-district - Solapur North', 'Sub-district - Mohol',
       'Sub-district - Pandharpur', 'Sub-district - Malshiras',
       'Sub-district - Sangole', 'Sub-district - Mangalvedhe',
       'Sub-district - Solapur South', 'Sub-district - Akkalkot',
       'District - Satara', 'Sub-district - Mahabaleshwar',
       'Sub-district - Wai', 'Sub-district - Khandala',
       'Sub-district - Phaltan', 'Sub-district - Man',
       'Sub-district - Khatav', 'Sub-district - Koregaon',
       'Sub-district - Satara', 'Sub-district - Jaoli',
       'Sub-district - Patan', 'Sub-district - Karad',
       'District - Ratnagiri', 'Sub-district - Mandangad',
       'Sub-district - Dapoli', 'Sub-district - Chiplun',
       'Sub-district - Guhagar', 'Sub-district - Ratnagiri',
       'Sub-district - Sangameshwar', 'Sub-district - Lanja',
       'Sub-district - Rajapur', 'District - Sindhudurg',
       'Sub-district - Devgad', 'Sub-district - Vaibhavvadi',
       'Sub-district - Kankavli', 'Sub-district - Malwan',
       'Sub-district - Vengurla', 'Sub-district - Kudal',
       'Sub-district - Sawantwadi', 'Sub-district - Dodamarg',
       'District - Kolhapur', 'Sub-district - Shahuwadi',
       'Sub-district - Panhala', 'Sub-district - Hatkanangle',
       'Sub-district - Shirol', 'Sub-district - Karvir',
       'Sub-district - Bavda', 'Sub-district - Radhanagari',
       'Sub-district - Kagal', 'Sub-district - Bhudargad',
       'Sub-district - Ajra', 'Sub-district - Gadhinglaj',
       'Sub-district - Chandgad', 'District - Sangli',
       'Sub-district - Shirala', 'Sub-district - Walwa',
       'Sub-district - Palus', 'Sub-district - Kadegaon',
       'Sub-district - Khanapur (Vita)', 'Sub-district - Atpadi',
       'Sub-district - Tasgaon', 'Sub-district - Miraj',
       'Sub-district - Kavathemahankal', 'Sub-district - Jat'],
      dtype=object)

In [10]:
mumbai_df = df[(df.loc[:, ("Area Name", "")].isin(
    [
        'District - Mumbai Suburban',
        'District - Mumbai'
    ]
))
               & (df[('Total/', "Urban")]=="Total")
              ].reset_index(drop = True)
mumbai_df = mumbai_df[
    [('Normal households', 'Number')] + [(a,b) for (a,b) in mumbai_df.columns if a=="Household size"]
]
mumbai_df

  Normal households Household size                                          \
             Number              1         2         3         4         5
0         2094171.0        96133.0  214873.0  365500.0  551993.0  383648.0
1          658359.0        37428.0   68610.0  106512.0  160719.0  117173.0


          6      7-10    11-14     15+
0  216058.0  235835.0  24077.0  6054.0
1   68850.0   84870.0  10520.0  3677.0

In [11]:
mumbai_series = mumbai_df.sum()
household_bins = [b for (a,b) in mumbai_series.index if a=="Household size"]
household_weights = [
    mumbai_series[(a,b)]/ mumbai_series[('Normal households', 'Number')] 
    for (a,b) in mumbai_series.index if a =="Household size"]

for i in range(len(household_bins)):
    print(f"{household_bins[i]}\t{household_weights[i]:.4f}")

1	0.0485
2	0.1030
3	0.1715
4	0.2589
5	0.1819
6	0.1035
7-10	0.1165
11-14	0.0126
15+	0.0035